<section id="contact" class="contact">
  <div class="head">
    <h3><span>4.</span>&nbsp;What’s Next?</h3>
    <h1>Get In Touch</h1>
  </div>
  <div class="details">
    <p>I’m currently looking for new opportunities.<br>
      Whether you have a question or just want to say hi, my inbox is always open.</p>
    <a href="mailto:mohammed.atef.saif@gmail.com">Say Hello</a>
  </div>
  <div class="contact-link">
    <a href="https://github.com/mohamedatef-99" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/mohamed-atef-/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://twitter.com/tef3_99" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com/tef3_99/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  </div>
</section>
