<div class="contact">
  <a href="https://github.com/mohamedatef-99" target="_blank"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.linkedin.com/in/mohamed-atef-/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  <a href="https://twitter.com/tef3_99" target="_blank"><i class="fa-brands fa-twitter"></i></a>
  <a href="https://www.instagram.com/tef3_99/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
  <span></span>
</div>
<div class="main">
  <div class="name">
    <h4>Hi,&nbsp; my &nbsp;name &nbsp;is</h4>
    <h1>Mohamed Atef</h1>
    <h2 class="parag pt-3">I Enjoy creating things.</h2>
    <p class="type">I am a <span id="typewriter"></span>&nbsp;<span class="cursor"></span></p>
    <div class="bio">
      <p>As a software engineer with a focus on Front-End Development,<br>
        I specialize in creating visually stunning and responsive web applications.<br>
        I am passionate about writing clean, efficient code and delivering high-quality user experiences.</p>
    </div>
  </div>
</div>
<div class="mail">
  <a href="mailto:mohammed.atef.saif@gmail.com">mohammed.atef.saif@gmail.com</a>
  <span></span>
</div>
