<div class="loader" id="home" *ngIf="isLoading">
  <div class="deca"></div>
  <div class="child decagon" id="dec_one"></div>
  <div class="child decagon" id="dec_two"></div>
  <div class="child decagon" id="dec_three"></div>
  <div class="child decagon" id="dec_four"></div>
  <div class="child decagon" id="dec_five"></div>
  <div class="child decagon" id="dec_six"></div>
  <div class="child decagon" id="dec_seven"></div>
  <div class="child decagon" id="dec_eight"></div>
  <div class="child decagon" id="dec_nine"></div>
  <div class="child decagon" id="dec_ten"></div>
  <div class="child decagon" id="dec_eleven"></div>
  <div class="child decagon" id="dec_twelve"></div>
</div>
