<div class="about" id="about">
  <div class="head">
    <h2><span>1.</span>&nbsp;About Me</h2>
    <div class="line"></div>
  </div>
  <div class="bref">
    <p>Hello! My Name is Mohamed Atef and I enjoy creating things.<br>
      My skills in HTML, CSS, and JavaScript allow me to bring designs to life,
      and I am constantly learning new technologies to stay on the cutting edge.<br><br>
      In my Github, you will find examples of my work,
      including websites and web applications that I have developed.
      Each project showcases my attention to detail and my ability to turn complex designs into fully functional sites.<br><br>
      I am constantly seeking new challenges and opportunities to further develop my skills as a front-end developer. 
      I am excited to collaborate with clients and other developers to create innovative and engaging web applications.
    </p>
    <img src="assets/images/photo_2023-02-15_22-15-39.jpg" alt="Mohamed Atef">
  </div>
</div>
