.about{
  margin-top: 7%;
  margin-left: 10%;
  padding-top: 100px;
  opacity: 0;
}
.about h2
{
  color: #CCD6F6;
  font-size: 30px;
  margin-left: 20px;
}
.head{
  display: flex;
  align-items: center;
}
.head h2 span{
  color: #64FFDA;
  font-size: 25px;
}
.about .line{
  width: 440px;
  height: 1px;
  background-color: #223453;
  margin-left: 15px;
  display: block;
}

.about .bref{
  display: flex;
  margin-left: 45px;
  margin-top: 20px;
}
.bref p{
  max-width:600px;
  color: #535F7A;
  font-size: 17px;
  line-height: 1.5;
}
.bref img{
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  max-height: 400px;
  transform: translateY(-11%);
  margin-left: 40px;
  object-fit: cover;
}


/* Media */
@media only screen and (max-width: 340px){
  .about h2
  {
    font-size: 15px;
  }
  .head h2 span{
    font-size: 10px;
  }
    .about .line{
      width: 140px;
    }
    .bref p{
      width:250px;
      font-size: 13px;
    }
    .about .bref{
      flex-direction: column;
      margin-left: 10px;
    }
    .bref img{
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      width: 280px;
      height: 280px;
      transform: translateY(11%);
      transform: translateX(-10%);
      margin-left: 0;
      object-fit: cover;
    }
}
/* CSS styles for smartphones */
@media only screen and (min-width: 341px) and (max-width: 480px) {
  .about h2
{
  font-size: 15px;
}
.head h2 span{
  font-size: 10px;
}
  .about .line{
    width: 140px;
  }
  .bref p{
    width:280px;
    font-size: 13px;
  }
  .about .bref{
    flex-direction: column;
    margin-left: 10px;
  }
  .bref img{
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 280px;
    height: 280px;
    transform: translateY(11%);
    transform: translateX(-5%);
    margin-left: 0;
    object-fit: cover;
  }
}

/* CSS styles for tablets and mid-sized screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about h2
{
  font-size: 17px;
}
.head h2 span{
  font-size: 15px;
}
  .about .line{
    width: 250px;
  }
  .bref p{
    width:350px;
    font-size: 17px;
  }
  .about .bref{
    flex-direction: column;
  }
  .bref img{
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 350px;
    transform: translateY(11%);
    margin-left: 20px;
    object-fit: cover;
  }

}

/* CSS styles for larger tablets and small laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about .line{
    width: 340px;
  }
  .bref p{
    width:300px;
    font-size: 15px;
  }
  .bref img{
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 200px;
    transform: translateY(2%);
    margin-left: 20px;
    object-fit: cover;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .about .line{
    width: 340px;
  }
  .bref p{
    max-width:400px;
    min-width:300px;
    font-size: 15px;
  }
  .bref img{
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    max-height: 300px;
    min-width: 200px;
    min-height: 200px;
    transform: translateY(2%);
    margin-left: 20px;
    object-fit: cover;
  }
}
