<section id="mySection" #mySection class="my-section" >
  <div class="head">
    <h2>Other Projects</h2>
    <a href="https://github.com/mohamedatef-99" target="_blank">view on github</a>
  </div>
  <div class="projects">
    <a href="https://github.com/mohamedatef-99/Fetch-GitHub-Profile" target="_blank">
      <div class="pro-1">
        <div class="link d-flex justify-content-between">
          <a href="https://github.com/mohamedatef-99/Fetch-GitHub-Profile" target="_blank"><i class="fa-regular fa-folder"></i></a>
          <div class="d-flex">
            <a href="https://github.com/mohamedatef-99/Fetch-GitHub-Profile" target="_blank"><i class="fa-brands fa-github github"></i></a>
            <a href="https://mohamedatef-99.github.io/Fetch-GitHub-Profile/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square out-link"></i></a></div>
        </div>
        <div class="pro-head">
          <h2>Fetch Github Profile</h2>
          <p>Build an app that allow user to search for any github profile, the app presents the github profile </p>
          <div class="span">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
            <span>Github</span>
            <span>API</span>
          </div>
        </div>
      </div>
    </a>
    <a href="https://github.com/mohamedatef-99/Quiz-App" target="_blank">
      <div class="pro-1">
        <div class="link d-flex justify-content-between">
          <a href="https://github.com/mohamedatef-99/Quiz-App" target="_blank"><i class="fa-regular fa-folder"></i></a>
          <div class="d-flex">
            <a href="https://github.com/mohamedatef-99/Quiz-App" target="_blank"><i class="fa-brands fa-github github"></i></a>
            <a href="https://mohamedatef-99.github.io/Quiz-App/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square out-link"></i></a>
          </div>
        </div>
        <div class="pro-head">
          <h2>Quiz App</h2>
          <p>Build a quiz app using html, css and Javascript. the app has a catagories for the questions and a timer for every question and in the end of the questions the results </p>
          <div class="span">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
            <span>JSON</span>
          </div>
        </div>
      </div>
    </a>
    <a href="https://github.com/mohamedatef-99/Memory-Game" target="_blank">
      <div class="pro-1">
        <div class="link d-flex justify-content-between">
          <a href="https://github.com/mohamedatef-99/Memory-Game" target="_blank"><i class="fa-regular fa-folder"></i></a>
          <div class="d-flex">
            <a href="https://github.com/mohamedatef-99/Memory-Game" target="_blank"><i class="fa-brands fa-github github"></i></a>
            <a href="https://mohamedatef-99.github.io/Memory-Game/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square out-link"></i></a>
          </div>
        </div>
        <div class="pro-head">
          <h2>Memory Game</h2>
          <p>memory game is a game building on guessing the pictures the match each other building using html, css, javascript and bootstrap and there is the number of the wrong tries </p>
          <div class="span">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
            <span>Bootstrap</span>
          </div>
        </div>
      </div>
    </a>
    <a href="https://github.com/mohamedatef-99/Weather-App" target="_blank">
      <div class="pro-1">
        <div class="link d-flex justify-content-between">
          <a href="https://github.com/mohamedatef-99/Weather-App" target="_blank"><i class="fa-regular fa-folder"></i></a>
          <div class="d-flex">
            <a href="https://github.com/mohamedatef-99/Weather-App" target="_blank"><i class="fa-brands fa-github github"></i></a>
            <a href="https://mohamedatef-99.github.io/Weather-App/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square out-link"></i></a>
          </div>
        </div>
        <div class="pro-head">
          <h2>Weather App</h2>
          <p>weather app is app build using api and allow to the user search by the city name and show the weather, temp and temp range of the city also the time and date</p>
          <div class="span">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
            <span>API</span>
          </div>
        </div>
      </div>
    </a>
    <a href="https://github.com/mohamedatef-99/Typing-Speed-Test/tree/main/Typing%20Speed%20Test" target="_blank">
      <div class="pro-1">
        <div class="link d-flex justify-content-between">
          <a href="https://github.com/mohamedatef-99/Typing-Speed-Test/tree/main/Typing%20Speed%20Test" target="_blank"><i class="fa-regular fa-folder"></i></a>
          <a href="https://github.com/mohamedatef-99/Typing-Speed-Test/tree/main/Typing%20Speed%20Test" target="_blank"><i class="fa-brands fa-github github"></i></a>
        </div>
        <div class="pro-head">
          <h2>Typing Speed Test</h2>
          <p>Build the app using html, css, javascript and json. the app show a array of character of a word to the user and allow the user to write the characters</p>
          <div class="span">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
            <span>JSON</span>
          </div>
        </div>
      </div>
    </a>
    <a href="https://github.com/mohamedatef-99/To-Do-Task" target="_blank">
      <div class="pro-1">
        <div class="link d-flex justify-content-between">
          <a href="https://github.com/mohamedatef-99/To-Do-Task" target="_blank"><i class="fa-regular fa-folder"></i></a>
          <div class="d-flex">
            <a href="https://github.com/mohamedatef-99/To-Do-Task" target="_blank"><i class="fa-brands fa-github github"></i></a>
            <a href="https://mohamedatef-99.github.io/To-Do-Task/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square out-link"></i></a>
          </div>
        </div>
        <div class="pro-head">
          <h2>ToDo Task</h2>
          <p>an app the allow user to store a tasks to do and building using html, css and javascript. the app stores the tasks in the local storage, the app allow to user to delete and add a task </p>
          <div class="span">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
