<section id="work" class="work">
  <div class="head">
    <h2><span>3.</span>&nbsp;Some Projects I’ve Built</h2>
    <div class="line"></div>
  </div>
  <div class="projects pt-4">
      <div class="store store-animation d-flex position-relative">
        <div class="image">
          <img src="assets/images/mystore.PNG" alt="myStore">
          <div class="overlay"></div>
        </div>
        <div class="pro-details">
          <h3>Featured Project</h3>
          <a href="https://github.com/mohamedatef-99/MyStore-app-using-angular" target="_blank">My Store</a>
          <div class="dettails">
            <div class="pragraph">
              <P>E-commerce website using angular,
                this website has a 6 components (Cart, Products, Product details, Success, Main, Header)
                and it has also 2 services (Cart Service, Product Service) and has app routing modules and model
                called product.first we fetch the product from external api (fake api) to service then we create
                a cart component for the product that user added to cart then we create a single product component
                for the products details then we create a success component for confirmation</P>
            </div>
            <div class="p-list">
              <ul class="list d-flex">
                <li>Angular</li>
                <li>API</li>
              </ul>
              <a href="https://github.com/mohamedatef-99/MyStore-app-using-angular" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="store1 store-animation d-flex position-relative">
        <div class="h-man">
          <h3>Featured Project</h3>
          <a class="hang" href="https://github.com/mohamedatef-99/Hangman-Game" target="_blank">Hangman Game</a>
          <div class="dettails">
            <div class="ph-man">
              <P>Hangman Game it is a game for guessing letters of a word created using JavaScript and HTML and CSS</P>
            </div>
            <div class="man-l">
              <ul class="man-l d-flex">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>JSON</li>
              </ul>
              <a href="https://github.com/mohamedatef-99/Hangman-Game" target="_blank"><i class="fa-brands fa-github mt-3"></i></a>
              <a href="https://mohamedatef-99.github.io/Hangman-Game/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
        <div class="ih-man">
          <img src="assets/images/hangman.PNG" alt="hangman">
          <div class="overlay"></div>
        </div>
      </div>
      <div class="store2 store-animation d-flex position-relative">
        <div class="image">
          <a href="https://mohamedatef-99.github.io/Twitter-Clone/"><img src="assets/images/twitter.PNG" alt="twitter"></a>
          <div class="overlay"></div>
        </div>
        <div class="pro-details">
          <h3 class="head3">Featured Project</h3>
          <a class="hang" href="https://github.com/mohamedatef-99/Twitter-Clone" target="_blank">Twitter Clone</a>
          <div class="">
            <div class="pragraph">
              <P>Twitter Clone, design for a twitter web page home using html, css and bootstrap has all features like side bar, tweets , trends and who to follow </P>
            </div>
            <div class="p-list">
              <ul class="list d-flex">
                <li>HTML</li>
                <li>CSS</li>
                <li>BootStrap</li>
              </ul>
              <a href="https://github.com/mohamedatef-99/Twitter-Clone" target="_blank"><i class="fa-brands fa-github"></i></a>
              <a href="https://mohamedatef-99.github.io/Twitter-Clone/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
