<app-loader></app-loader>
<app-header *ngIf="!isLoading" [isLoading]="isLoading"></app-header>
<!-- <app-header></app-header> -->
<app-body *ngIf="!isLoading" [isLoading]="isLoading"></app-body>
<app-about *ngIf="!isLoading" [isLoading]="isLoading"></app-about>
<app-skills *ngIf="!isLoading" [isLoading]="isLoading"></app-skills>
<app-work *ngIf="!isLoading" [isLoading]="isLoading"></app-work>
<app-projects *ngIf="!isLoading" [isLoading]="isLoading"></app-projects>
<app-contact *ngIf="!isLoading" [isLoading]="isLoading"></app-contact>
