<section id="skills" class="skills-animation">
  <div class="head">
    <h2><span>2.</span>&nbsp;Skills</h2>
  </div>
  <div class="skills">
    <div class="html d-flex align-items-center">
      <img src="assets/images/html.png">
      <h2>HTML</h2>
    </div>
    <div class="css d-flex align-items-center">
      <img src="assets/images/css.png">
      <h2>CSS</h2>
    </div>
    <div class="bootstrap d-flex align-items-center">
      <img src="assets/images/bootstrap.png">
      <h2>Bootstrap</h2>
    </div>
    <div class="sass d-flex align-items-center">
      <img src="assets/images/sass.jpg">
      <h2>SASS</h2>
    </div>
    <div class="js d-flex align-items-center">
      <img src="assets/images/javascript.png">
      <h2>JavaScript</h2>
    </div>
    <div class="typescript d-flex align-items-center">
      <img src="assets/images/typescript.png">
      <h2>TypeScript</h2>
    </div>
    <div class="angular d-flex align-items-center">
      <img src="assets/images/angular.png">
      <h2>Angular</h2>
    </div>
    <div class="python d-flex align-items-center">
      <img src="assets/images/python.png">
      <h2>Python</h2>
    </div>
    <div class="c d-flex align-items-center">
      <img src="assets/images/c.png">
      <h2>C/C++</h2>
    </div>
    <!-- <div class="git d-flex align-items-center">
      <img src="assets/images/git.png">
      <h2>Git/Github</h2>
    </div> -->
  </div>
</section>
