section{
  margin-left: 10%;
  margin-top: 100px;
  padding-top: 100px;
  width: 80%
}
.skills-animation{
  opacity: 0;
}
.head{
  text-align: center;
  transform: translateX(-5%);
}
.head h2{
  font-size: 30px;
  color: #CCD6F6;
}
.head span{
  color: #60F6D3;
  font-size: 25px;
}

.skills{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  position: relative;
  justify-content: space-between;
  margin-top: 50px;
}

.html, .css, .js, .bootstrap, .sass, .git, .typescript, .angular, .python, .c{
  margin-left: 15px;
}
.skills img{
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.skills h2{
  color: #6E7A97;
  padding-top: 13px;
}
.skills h2:hover{
  color: #60F6D3;
}


/* Media */
@media only screen and (max-width: 340px){
  .skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
  }
  .skills h2{
    font-size: 15px;
  }
  .head h2{
    font-size: 17px
  }
  .head span{
    font-size: 10px;
  }
  .skills img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}
/* CSS styles for smartphones */
@media only screen and (min-width: 341px) and (max-width: 480px) {
  .skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
  }
  .skills h2{
    font-size: 15px;
  }
  .head h2{
    font-size: 20px
  }
  .head span{
    font-size: 12px;
  }
  .skills img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}

/* CSS styles for tablets and mid-sized screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .skills h2{
    font-size: 17px;
  }
  .skills img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}

/* CSS styles for larger tablets and small laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
